//Dimensions
$nav-header-height:         60px;
$tiny-padding:              4px;
$small-padding:             8px;
$regular-padding:            16px;
$big-padding:               32px;
$huge-padding:              48px;

//Fonts
$regular-font-size: calc(12px + 0.25vw);
$h1-font-size: 1.5vw;
$h2-font-size: 1.1vw;
$h3-font-size: 0.9vw;
$tiny-font-size: 0.75vw;

//Colors
$main-color:                    #63AF63;
$heading-font-color:            #303030;
$light-font-color:              #969696;
$dark-font-color:               #5e5e5e;
$light-grey-background-color:   #F1F1F1;

//Shadow
$cardShadow: 0px 3px 10px #00000021;
$tooltipShadow: 0px 3px 20px #00000052;

